.swiper-slide{
    background: #fff;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    width: 38.2%;
}
.swiper-pagination-bullet{
    width: 32px;
    height: 6px;
    border-radius: 0;
}
.swiper-pagination-bullet-active{
    background: #ffb000;
}

.module{
    margin-bottom: 45px;
}
.module .hd{
    margin-bottom: 25px;
    text-align: center;
}
.module .hd h3{
    display: inline-block;
    height: 48px;
    padding: 0 75px;
    margin-bottom: 20px;
    border-bottom: 1px solid #333;
}
.module .hd h3 span{
    position: relative;
    bottom: -24px;
    padding: 0 30px;
    background: #fff;
    line-height: 48px;
    font-size: 36px;
}
.module .hd p{
    line-height: 40px;
    font-size: 20px;
    color: #888;
}
.module .bd{
    overflow: hidden;
}

.mod-slider .pic{
    margin-left: 38.2%;
}
.mod-slider .pic img{
    width: 100%;
}
.mod-slider .info{
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 9;
    width: 64%;
    height: 300px;
    margin-top: -150px;
    background: rgba(255,255,255,.75);
    text-align: center;
}
.mod-slider .info .slogan{
    display: inline-block;
    padding: 90px 25px 90px 0;
    text-align: left;
}
.mod-slider .info .slogan span{
    display: block;
}
.mod-slider .info .title{
    line-height: 60px;
    font-size: 48px;
    color: #333;
}
.mod-slider .info .subtitle{
    line-height: 48px;
    font-size: 30px;
    color: #666;
}

.mod-idea .bd{
    padding: 40px 0 25px;
    background: #f0f0f0;
    line-height: 36px;
    text-align: center;
    font-size: 18px;
}
.mod-idea .bd p{
    margin-bottom: 20px;
}

.mod-area .bd{
    width:
    margin: 0 35px;
}
.mod-area .map{
    height: 400px;
}
.mod-area .map .anchorBL{
    display: none;
}

.mod-display .bd{
    max-width: 1240px;
    margin: 0 auto;
}
.mod-display ul{
    margin: 0 20px;
    overflow: hidden;
}
.mod-display li{
    float: left;
    width: 33.33%;
}
.mod-display .item{
    margin: 0 10px;
}
.mod-display .item img{
    width: 100%;
    height: auto;
}
.mod-display .item .info{
    padding: 25px 10px;
    line-height: 26px;
    text-align: center;
}
.mod-display .item .title{
    font-weight: bold;
    font-size: 16px;
}
.mod-display .item .subtitle{
    height: 52px;
    color: #888;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
}
.mod-display .ft{
    text-align: center;
}
.mod-display .ft a{
    display: inline-block;
    width: 200px;
    background: #e8e8e8;
    line-height: 48px;
    text-align: center;
    font-size: 18px;
    color: #666;
}
.mod-display .ft a:hover{
    text-decoration: underline;
}

.mod-article h4{
    margin-top: 20px;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
}
.mod-article p{
    line-height: 28px;
}
.mod-article .pic{
    float: left;
    margin-right: 25px;
}


@media screen and (max-width: 800px) {
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        width: 100%;
        bottom: 5px;
    }
    .swiper-pagination-bullet{
        height: 4px;
    }
    .module{
        margin-bottom: 30px;
    }
    .module .hd{
        margin-bottom: 20px;
    }
    .module .hd h3{
        height: 36px;
    }
    .module .hd h3 span{
        bottom: -18px;
        line-height: 36px;
        font-size: 24px;
    }
    .module .hd p{
        line-height: 30px;
        font-size: 16px;
    }

    .mod-slider .pic{
        margin-left: 0;
    }
    .mod-slider .info{
        top: auto;
        bottom: 0;
        width: 100%;
        height: 90px;
        margin: 0;
        text-align: left;
    }
    .mod-slider .info .slogan{
        padding: 10px;
    }
    .mod-slider .info .title{
        line-height: 32px;
        font-size: 20px;
    }
    .mod-slider .info .subtitle{
        line-height: 32px;
        font-size: 18px;
    }

    .mod-idea .bd{
        padding: 30px 0 20px;
        line-height: 30px;
        font-size: 16px;
    }

    .mod-display ul{
        margin: 0 2px;
    }
    .mod-display li{
        width: 50%;
    }
    .mod-display .item{
        margin: 0 2px;
    }
    .mod-display .ft a{
        line-height: 40px;
        font-size: 16px;
    }

    .mod-article .bd{
        padding: 0 15px;
    }
    .mod-article h4{
        margin-top: 15px;
    }
    .mod-article .pic{
        float: none;
        margin: 0 0 15px;
        text-align: center;
    }
    .mod-article .pic img{
        width: 280px;
        height: auto;
    }
}
